/*
color gris fondo --> #6f5f5f
color rojo oscuro --> #8b0000
color rojo vida --> #ff0000
color gris claro --> #9B9B9B
color azul oscuro --> #00008b
color marron borde --> #8b4513
color amarillo oro --> #F0C603
*/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 5vw;
    font-size: 5vw;
    font-weight: bold;
    font-family: Arial;
    color: #9b9b9b;
    background: #6f5f5f;
    margin: 2.5vw;
}