/*
color gris fondo --> #6f5f5f
color rojo oscuro --> #8b0000
color rojo vida --> #ff0000
color gris claro --> #9B9B9B
color azul oscuro --> #00008b
color marron borde --> #8b4513
color amarillo oro --> #F0C603
*/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 5vw;
    font-size: 5vw;
    font-weight: bold;
    font-family: Arial;
    color: #9b9b9b;
    background: #6f5f5f;
    margin: 2.5vw;
}

body > div {
    margin-bottom: 5vw;
    position: relative;
}

#info-panel, #detail-panel {
    border: 0.5vw solid #8b0000;
    background-color: black;
    border-radius: 2vw;
    width: 100%;
    padding: 2.5vw;
}

#info-panel, #status {
    display: flex;
    justify-content: space-between;
}

.info-bar{
    border-radius: 2vw;
    border: 0.5vw solid #9B9B9B;
    width: 42.5vw;
    height: 8vw;
    font-size: 2.5vw;
    text-align: center;
    align-content: center;
    color: white;
}

.life {
    background-color: #ff0000;
}

.mana {
    background-color: #00008b;
}

#bag > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.bag-section > .bag-slot {
    border-radius: 2vw 2vw 0 0;
    margin: 0;
    border-bottom-color: black;
    background-color: black;
    overflow: hidden;
}

.bag-section > .selected {
    z-index: 2;
}

.bag-container {
    z-index: 1;
    border: 0.5vw solid #8b4513;
    padding: 0.5vw;
    border-radius: 2vw;
    top: -0.5vw;
    position: relative;
    background-color: black;
}

.bag-container > .selected, #detail-panel .selected{
    border-color: #8b0000;
    background-color: black;
}

.bag-slot {
    width: 12vw;
    height: 12vw;
    border: 0.5vw solid #8b4513;
    border-radius: 2vw;
    margin: 0.75vw;
    position: relative;
    overflow: hidden;
}

.level{
    position: absolute;
    bottom: 0;
    right: 1vw;
    color: white;
    
}

.bag-slot img {
    width: 100%;
    height: 100%;
}

#detail-panel {
    border-color: #9B9B9B;
    background-color: #03081C;
}

#detail-panel > div {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2vw;
    color: white;
    font-weight: normal;
}

#detail-panel > div.hability-info{
    justify-content: space-between;
    color: #F0C603;
    padding: 1vw 0;
}

.acciones-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boton {
    color: white;
    text-decoration: none;
    display: block;
    width: 25vw;
    text-align: center;
    background: black;
    border-radius: 2.5vw;
    padding: 2.5vw 0;
    border: 0.5vw solid #8b4513;
}